@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Grounp six</h1>
    <p>Assignment 1</p>
    <table>
        <thead>
            <tr>
                <th>
                    Team Members
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ruizhi Guo</td>
            </tr>
            <tr>
                <td>Tianyi Sang</td>
            </tr>
            <tr>
                <td>Xuhao Zhao</td>
            </tr>
            <tr>
                <td>Yipend Wang</td>
            </tr>
            <tr>
                <td>Junhao Chen</td>
            </tr>
        </tbody>
    </table>
</div>
